@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 39px 9px 19px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(139, 139, 139, 0.65);
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 24px;
}

.nav-links li a {
    text-decoration: none;
    color: #777777;
    text-transform: uppercase;
}

body {
    margin: 0 auto;
    width: 1280px;
}

.banner {
    opacity: 80%;
    background: #FFFFFF;
}

.estilo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold 600;
    font-size: 40px;
    line-height: 82px;
    text-align: center;
    color: #000000;
}

.destaque {
    justify-content: space-around;
    align-items: baseline;
}

.foto1 {
    padding-top: 668px;
    padding-left: 113px;
    padding-right: 42px;
    width: 400px;
    height: 600px;
    left: 113px;
    top: 668px;

}

.foto2 {
    padding-right: 113px;
    width: 600px;
    height: 757.94px;
    left: 567px;
    top: 589px;

}

#box {
    display: flex;
    justify-content: center;
    background-color: rgba(194, 24, 91, 1);
    padding-top: 175px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 99px;
}

.sapato {
    padding: 10px 10px 10px;
}