@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 39px 9px 19px;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(139, 139, 139, 0.65);
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 24px;
}

.nav-links li a {
    text-decoration: none;
    color: #777777;
    text-transform: uppercase;
}

body {
    margin: 0 auto;
    width: 1280px;
}

.banner {
    opacity: 80%;
    background: #FFFFFF;
}

.estilo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold 600;
    font-size: 40px;
    line-height: 82px;
    text-align: center;
    color: #000000;
}

.destaque {
    display: inline-flex;
    position: relative;


}

.foto1 {
    margin-right: 54px;
    margin-left: 113px;
    margin-top: 150px;
    width: 400px;
    height: 600px;
    left: 113px;
    top: 668px;

}

.foto2 {
    padding-top: 82px;
    width: 600px;
    height: 757.94px;
    left: 567px;
    top: 589px;


}

#box {

    margin-top: 200px;
    display: flex;
    justify-content: center;
    background-color: rgba(194, 24, 91, 1);
    padding-top: 175px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 99px;
}

.sapato {
    padding: 10px 10px 10px;
}

.estilo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#final {
        display: flex;
        flex-wrap: wrap;
        margin-left: 127px;
        align-items: flex-end;
}

.foto3 {
    
    width: 513px;
    height: 663px;
    left: 127px;
    top: 2655px;


}

.foto4 {

width: 507px;
height: 939px;
left: 668px;
top: 2379px;

}

.footer{
    height: 248px;
    width: 100%;
    background-color: #C2185B;
    display: flex;
    justify-content: space-around;
}
.footer #logoFooter{
    background-image: url();
    height: 123px;
    width: 233px;
}
.footer #logoFooter p{
    padding-left: 15px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.lista{
    align-self: center;
}
.lista ul p{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.lista ul li{
    list-style-type: none;
    
}
.lista ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
